

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*
.vscode

gameSource/OneLife
gameSource/EditOneLife
gameSource/testUser/*
gameSource/testUser2/*
gameSource/recordedGames/*
gameSource/screenShots/*
gameSource/animations
gameSource/categories
gameSource/ground
gameSource/groundTileCache
gameSource/music
gameSource/objects
gameSource/overlays
gameSource/reverbCache
gameSource/scenes
gameSource/sounds
gameSource/sprites
gameSource/spriteImportCache
gameSource/transitions
gameSource/dataVersionNumber.txt
gameSource/log.txt

server/OneLifeServer
server/log.txt
server/recentPlacements.txt
server/*.db
server/backups/
server/curseLog/
server/failureLog/
server/foodLog/
server/lifeLog/
server/categories
server/ground
server/objects
server/transitions
server/tutorialMaps
server/mapBiomeOut.tga
server/mapOut.tga
server/curseSave.txt
server/dataVersionNumber.txt
server/eveRadius.txt
server/serverCodeVersionNumber.txt
