[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Editor
Exec=lxterminal --working-directory=/home/thomasbailey/checkout/OneLife/gameSource  --command "/home/thomasbailey/checkout/OneLife/gameSource/EditOneLife"
Comment=Launch Editor.
Categories=GTK;Utility;TerminalEmulator;